@use '../../../GlobalFiles/globalStyle.scss' as global;

input[type=text], input[type=password], input[type=email] {
    padding:5px;
    height:30px;
    border-radius: 3px;
    width:100%;
    margin-bottom: 5px;
    border:0.1px solid grey;
    outline: 0px;
    &:focus{
        border:0.1px solid black;
    }
}

input[type=submit]{
    width:100%;
    padding:8px;
    margin-top: 10px;
    background-color: global.$primary_color;
    border:0px;
    cursor:pointer;
    border-radius: 5px;
    color:white;
    &:hover{
        transform: scale(1.02);
    }
}

